// src/styles/main.scss

@use 'variaveis/variaveis' as variaveis;
@use 'config/reset';

header {
    background-color: variaveis.$cor-fundo;
}

section#cadastrarProdutos {
    background-image: linear-gradient(to bottom, variaveis.$cor-fundo , variaveis.$cor-secundaria);
    color: variaveis.$cor-texto;

    form {
        input {
            border: none;
        }

        button {
            @include variaveis.button-style();
        }
    }
}

section#listarProdutos {
    background-color: variaveis.$cor-secundaria;

    h2, h3 {
        color: variaveis.$cor-fundo;
    }

    button {
        @include variaveis.button-style();
    }
}

@media screen and (min-width: 1024px) {
    section#cadastrarProdutos {
        form {
            margin: auto;
            max-width: 50%;
        }
    }
}
