@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$fontePrincipal: 'MontSerrat', sans-serif;

$cor-principal: #1e90ff;   
$cor-secundaria: #747d8c;   
$cor-fundo: #fff;          
$cor-texto: #000; 

@mixin button-style() {
    background-color: #1e90ff;
    color: #fff;
    border: none;
}